# Virtual environment
venv/
.env/
.venv/
ENV/
env/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test coverage
.coverage
htmlcov/

# Build files
dist/
build/

# SQLite (if ever used)
*.db
